<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/res/styles.css">
  <title>ESL Quick Reads - Message</title>
</head>
<body id="body">
  <header id="header">
    <div class="language-selector" id="language-selector-div">
      <select id="language-selector">
        <option value="en">English</option>
      </select>
    </div>
    <h1 id="title">ESL Quick Reads</h1>
  </header>
  <main id="main">
    <button class="return-home" id="return-home-button" onclick="location.href='/home';">Home</button>
    <div class="lesson-content" id="lesson-content">

	{{message | safe}}

    </div>
  </main>
</body>
</html>
