<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Have Code</title>
    <link rel="stylesheet" href="/res/login.css">
</head>
<body>
    <h1>Change Password Have Code</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div>
            {{ messages }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.verification_code.label }} {{ form.verification_code }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.confirm_password.label }} {{ form.confirm_password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>
