<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/res/styles.css">
  <title>ESL Quick Reads</title>
</head>
<body id="body">
  <header id="header">
    <div class="language-selector" id="language-selector-div">
      <select id="language-selector">
        <option value="en">English</option>
      </select>
    </div>
    <h1 id="site-title">ESL Quick Reads</h1>
    <div class="logout" id="logout-div">
      <a href="/logout" id="logout-link">Logout</a>
    </div>
  </header>
  <main id="main-content">
      {{ lessons | safe}}
  </main>
</body>
</html>
