<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/res/styles.css">
  <title>ESL Quick Reads</title>
</head>
<body>
  <header>
    <div class="language-selector">
      <select id="language-selector">
        <option value="en">English</option>
      </select>
    </div>
    <h1>ESL Quick Reads</h1>
    <div class="logout">
      <a href="/logout">Logout</a>
    </div>
  </header>
  <main>
    <div class="lesson-content container">
        <div class="page-number"></div>
        <div class="content-pane vertical-stack">
              <audio id="audioControl" controls></audio>
              <p id="englishText"></p>
              <button onclick="showTranslation()" id="showtranslation">Traducción</button>
              <p id="spanishText"></p>
        </div>
        <div class="navigation-buttons">
            <button class="return-home" onclick="location.href='/home';">Cancelar / Home</button>
            <button class="previous-btn">Anterior / Previous</button>
            <button class="next-btn default-btn" >Siguiente / Next</button>
            <button class="mark-completed done-btn default-btn" onclick="markCompleted();" display="none">Listo / Done</button>
        </div>
    </div>
  </main>

  <script>
      function markCompleted() {
        location.href = '/completed/{{lessonnum}}';
        }
  </script>

  <script src="/lessonrepo/lesson_{{lessonnum}}.js"></script>
  <script src="/res/lessonscript.js"></script>

</body>
</html>
